.om {
  height: 100vh;
  width: 70vw;
  padding-top: 10vh;
  margin: 0 auto;
}

.om h1, h3{
  text-align: center;
  color: #7749f8;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
 width: 40%;
 border-radius: 5px;

}

.FilterContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
  height: 38vh;
  min-width: 30vw;
  overflow: hidden;
  background-color: blue;
  overflow-y: auto;

}

.content {
  display: flex;
  padding-top: 10px;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  justify-content: space-between;
}

.content img {
  margin-right: 30%;
  padding: 2px;
  width: 50px;
  border: 1px solid black;
  background-color: #fdfcfe;
}

.FilterContent::-webkit-scrollbar {
  display: none;
}

.FilterContent:last-child{
  padding-bottom: 10px;
}

.om-Body {
  background-color: aqua;
  margin-top: 10px;
}

.om-body-selector {
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
}

.om-body p {
  color: #7749f8;
}


.quantity-selector {
  transform: translateY(-8%);
  display: flex;
  width: 40%;
}

.quantity-input {
  margin-bottom: auto;
  height: 30px;
}

.item-list {
  margin-bottom: 10px;
  max-height: 100% !important;
  min-height: 150px !important;
  max-width: 100% !important;
  border-radius: 15px !important;


}


.content-row h2 {
  color: #7749f8 !important;
}

.stage1-btn {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.stage2-btn {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.final-content p {
  color: #7749f8;
}

.addToLists { 
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;

}

.add-btn {
  background-color: #5227cc;
  color: #fdfcfe;
  border-radius: 12px;
  width: 100%;
  max-width: 110px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  margin: auto 0;
  cursor: pointer;
  border: none;
  margin-left: auto;
  text-align: center;
}

.quantity-btn {
  background-color: #7749f8;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  margin: auto;
}

.quantity-reset-btn {
  background-color: #7749f8;
  color: #ffffff ;
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
}

