.om {
  height: 90vh;
  width: 80vw;
  padding-top: 5vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.om h1,
h3 {
  text-align: center;
  color: #7749f8;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
  margin: 0 !important;
}


.search-input {
  width: 100%;
  border-radius: 5px;
}

.FilterContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
  height: 55vh;
  min-width: 30vw;
  overflow: hidden;
  background-color: #221a37;
  overflow-y: auto;
}

.table{
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.tr-content {
  display: flex;
  flex-direction: row;
}

.content img {
  padding: 2px;
  width: 50px;
  border: 1px solid black;
  background-color: #fdfcfe;
}

.content p {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  padding-left: 10px;
  justify-content: center !important;
  text-align: center !important;
  font-weight: bold;
}

.FilterContent::-webkit-scrollbar {
  display: none;
}

.content:last-child {
  padding-bottom: 10px;
}

.om-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.select-body{
  display: flex;
  width: 45%;
  height: 100%;
  flex-direction: column;
  border: #5227cc 4px solid;
  border-radius: 15px;
  padding: 15px;
}

.om-List{
  display: flex;
  width: 45%;
  height: 100%;
  border:#5227cc 4px solid;
  border-radius: 15px;
  overflow:hidden;
  background-color: #fdfcfe;
  

}

.om-body p {
  color: #7749f8;
}

.quantity-selector {
  transform: translateY(-8%);
  display: flex;
  width: 40%;
}

.normal-quantity-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.quantity-input {
  margin-bottom: auto;
  height: 30px;
}

.hasReset img {
  background-color: transparent;
  border: none;
  width: 25px;
  cursor: pointer;
}

.item-list {
  max-height: 100% !important;
  min-height: 150px !important;
  max-width: 100% !important;
  border-radius: 0 !important;

}

.stage1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 10%;
}



.stage-btn {
  padding: 2px;
  color: #ffffff;
  font-weight: bold;
  background-color: #5227cc;
  border-radius: 10px;
  width: 50px;
}

.confirm-btn {
  padding: 2px;
  color: #ffffff;
  font-weight: bold;
  background-color: #5227cc;
  border-radius: 10px;
  width: 120px;
}

.final-content p {
  color: #7749f8;
}

.add-and-rest-Lists {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-btn {
  background-color: #5227cc;
  color: #fdfcfe;
  border-radius: 12px;
  width: 100%;
  max-width: 110px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  margin: auto 0;
  cursor: pointer;
  border: none;
  text-align: center;
}

.add-btn-request {
  background-color: #5227cc;
  color: #fdfcfe;
  border-radius: 12px;
  width: 100%;
  max-width: 150px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  margin: auto 0;
  cursor: pointer;
  border: none;
  text-align: center;
}

.quantity-btn {
  background-color: #7749f8;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  margin: auto;
}

.quantity-reset-btn {
  background-color: #7749f8;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}
