.om {
    height: 100vh;
    width: 70vw;
    padding-top: 10vh;
    margin: 0 auto;
}

.om h1 {
    text-align: center;
    color: #7749f8;
}

.search-bar{
    margin: 0 auto;
}

.drop { 
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 5px 230px;
    z-index: 999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.om-Body {
    margin-top: 10px;
    
}

.om-body-selector{
    display: flex;
    min-height: 35vh;
    flex-direction: column;

}
.content {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-height: 50px;
    justify-content: space-between;

}

.quantity-input {
    margin-bottom: 8px;
}

.om-Body .item-list {
    margin-bottom: 10px;
    max-height: 300px !important;
    max-width: 100% !important;
    min-height: 100px !important;
    border-radius: none !important; /* pasar a 15px si se requiere despues */
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.content-row h2 {
    color: #7749f8 !important;
}

.stage1-btn{
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.stage2-btn{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.final-content p {
    color: #7749f8;
}
