.item-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(60px, 1fr)
  ); /* Ajusta el ancho de las columnas según sea necesario */
  grid-gap: 3px; /* Espacio entre elementos */
  grid-auto-flow: dense; /* Colocar elementos en espacios vacíos */
  align-content: start; /* Alinear la última fila en la parte superior */
  background-color: #fff;
  padding: 15px;
  min-height: 65vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: scroll;
}

.item-list::-webkit-scrollbar {
  display: none;
}
