.offer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    height: 100vh;
}

.offer-list {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: auto;
  height: 41em;
}

.table {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.th-id {
  width: 60px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.th-offer {
  font-size: 25px !important;
  font-weight: bold !important;
  text-align: center !important;
  width: calc(70% / 2) !important;
}

.th-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}



.td-id {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
  grid-gap: 15px;
}

.page-btn-container{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.page-btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.page-btn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.btn-trade {
  background-color: #5227cc;
  color: #fdfcfe;
  border-radius: 12px;
  width: 100%;
  max-width: 110px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
  border: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  color: transparent;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  margin: 4px;
}

.page-link {
  color: #fdfcfe !important;
  background-color: transparent !important;
  border-radius: 5px;
  font-size: 20px;
}

.page-item .active {
  border-color: #5227cc !important;
}
.pagination li a {
  border-radius: 5px;
  border-color: #5227cc;
}

.pagination li a:hover {
  background-color: #5227cc;
  color: transparent;
  border-color: #5227cc;
}

.pagination li a:active {
  background-color: #5227cc;
  color: transparent;
  border-color: #5227cc !important;
}


