/* GENERAL CONFIG */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #221a37 !important;
}

/* SEARCH BAR */

.search-bar {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  padding-left: 10px;
}

.search-input{
  border-radius: 5px;
  border-top: 2px solid #000;
  padding-left: 10px;
  margin-left: 10px;
  height: 30px;
}


.spinner-container {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

